/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


/* HEADER */


header {
    display: flex;
    flex-direction: row;
    height: 79px;
    margin-bottom: 34px;
    justify-content: space-between;
        
}

#img-logo-booki {
    display: flex;
    align-items: center;
    width: 80%;
}

#img-logo-booki img {
    width: 61.09px;
    height: 19px;

}

nav {
    width: 20%;
    height: 50px;   
    
}

ul {
    list-style: none;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 68px;
    
}

li {
    padding-top: 20px;
    border-top: 2px solid transparent;
}

li:hover {
    color: #0065FC ;
    border-top: 2px solid #0065FC;
}


/* BODY et MAIN */
/* divisé en 3 parties */
/* 1ere partie : search-filter-container */
/* 2eme partie : hebergements-and-populaires-container */
/* 3ème partie : activités-container */

/* General */

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
}

/* 1ere partie : search-filter-container */

h1 {
    margin-bottom: 18px;
}

.search-filter-container p {
    margin-bottom: 35px;
}

/* barre de recherches */







.fa-solid {
    color: var(--main-color);
}



a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires-container {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires-container section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}